body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #1f1f1f;
    color: #fff;
}

.top-bar {
    width: 100%;
    height: 80px;
    background: #242424;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout-btn {
    background: #fa3333ff;
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
    transition: 0.2s ease;
}

.logout-btn:hover {
    background: #bd2f2fff;
}

.layout {
    display: flex;
    height: calc(100vh - 70px);
}

.sidebar {
    width: 240px;
    background: #242424;
    padding: 20px;
    border-right: 2px solid #333;
    box-shadow: 4px 0 12px rgba(0,0,0,0.3);
}

.menu-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #fa3333ff;
    padding-bottom: 5px;
}

.sidebar button {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #fa3333ff;
    color: #fff;
    transition: 0.3s ease;
}

.sidebar button:hover {
    background: #bd2f2fff;
}

.content {
    flex: 1;
    padding: 20px;
}

.content-box {
    background: #2b2b2b;
    padding: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.4);
}

h2 {
    color: #fa3333ff;
    font-size: 32px;
}

p {
    color: #dcdcdc;
    font-size: 19px;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 6px 14px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.logo-btn:hover {
    background: #e5e5e5;
}

.logo-btn img {
    height: 36px;
    width: auto;
}

